@media (min-width: 1920px) {
  body {
    overflow-x: hidden;
  }

  .section-inicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50em;
    margin: 4em 3em;
  }

  .campo-lugares {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 45em;
    width: 80em;
    margin-bottom: 5em;
  }

  .campo-locais {
    height: 35em;
    width: 85em;
    margin: 0 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
  }

  .grupo-locais {
    background-color: transparent;
    width: 18em;
    height: 22em;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .img-lugar {
    margin: 0;
  }

  #praca-lelita {
    width: 90%;
    margin: 0 10px;
  }

  .text-locais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .titulo-locais {
    font-family: "Poppins-regular";
    color: #1e1e1e;
    margin-top: 15px;
  }

  /* começo menu lateral */
  .menu-flutuante {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 7em;
    left: 3em;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 15em;
    min-height: 28em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .titulo-menu {
    font-family: "Poppins-semibold";
    font-size: 1.2em;
    color: #1e1e1e;
    margin: 1em;
  }

  #search-menu {
    margin: 5px;
    position: relative;
    bottom: 0;
    right: 3.5em;
    cursor: pointer;
  }

  #pesquisa-menu {
    font-family: "Poppins-regular";
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    height: 2.5em;
    width: 16em;
    margin: 0 1em;
    padding: 15px;
  }

  /* final menu lateral */

  /* começo areas */
  .campo-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 6em;
  }

  #campo-pesquisa {
    font-family: "Poppins-regular";
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    height: 2.5em;
    width: 30em;
    padding: 15px;
    position: relative;
    bottom: 3em;
  }

  #search {
    margin: 5px;
    position: relative;
    right: 2.5em;
    bottom: 2.5em;
    cursor: pointer;
  }
  /* final areas */
}

@media (max-width: 1550px) {
  body {
    overflow-x: hidden;
  }

  .campo-pesquisa {
    margin: 0 32em 0 0;
  }
}

@media (max-width: 1350px) {
  body {
    overflow-x: hidden;
  }

  .campo-pesquisa {
    margin: 0 32em 0 0;
  }

  .menu-flutuante {
    left: 2em;
  }
}

@media (max-width: 1260px) {
  body {
    overflow-x: hidden;
  }

  nav {
    width: 50%;
    height: 4em;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #d9d9d9;
  }

  .section-inicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50em;
    margin: 4em 0;
  }

  .campo-lugares {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .campo-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .campo-locais {
    height: 35em;
    width: 75em;
    margin: 0 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
  }

  .menu-flutuante {
    display: none;
  }
}

@media (max-width: 975px) {
  nav {
    height: 2em;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #d9d9d9;
  }

  #logo-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1em;
    z-index: 1000;
  }

  /* Estilos do modal */
  .modal-content {
    margin: 4em 0 0 8em;
    width: 14em;
    height: 12em;
  }

  .content-sem-perfil {
    width: 14em;
    height: 13em;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 2em;
  }

  .section-inicial {
    width: 30em;
    height: 53em;
    margin: 2em 0 4em 15em;
  }

  .campo-lugares {
    width: 20em;
    align-items: center;
    margin: 0 -1em 0 2em;
  }

  .campo-locais {
    flex-wrap: wrap;
    width: 65em;
    margin: 0;
    gap: 2em;
  }

  .grupo-locais {
    width: 17em;
  }

  .img-lugar {
    width: 15em;
  }

  .logo-footer {
    margin-left: 2em;
    margin-right: 5em;
  }

  .descricao-footer {
    flex-direction: row;
    margin: 2em -4em 2em 0;
    gap: 0;
  }

  .footer-container .descricao-footer ul {
    height: auto;
  }

  .paginas,
  .redes-sociais,
  .contato {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 350px;
    height: 15em;
  }

  .copyright {
    bottom: 0;
  }
}

/* @media (max-width: 845px) {} */

@media (max-width: 768px) {
  .section-inicial {
    flex-wrap: wrap;
    height: 53em;
    margin: 2em 0 4em 15em;
  }

  .descricao-footer {
    flex-direction: row;
    margin: 2em 2em 2em 0;
    gap: 0;
  }

  .paginas,
  .redes-sociais,
  .contato {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 350px;
    height: 15em;
  }

  .copyright {
    margin-top: 3em;
    bottom: 0;
  }
}

@media (max-width: 560px) {
  .section-inicial {
    flex-wrap: wrap;
    height: 53em;
    margin: 0 0 4em 20em;
  }

  nav {
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #d9d9d9;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1em;
    z-index: 1000;
  }

  .campo-pesquisa {
    margin-top: 4em;
  }

  .campo-locais {
    display: flex;
    flex-wrap: wrap;
    width: 65em;
    height: 15em;
    margin: 1em 0 0 0;
    gap: 2em;
  }

  .logo-footer {
    display: none;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-container .descricao-footer ul {
    height: 10em;
  }

  .paginas {
    margin-bottom: 1em;
    width: 350px;
    height: 15em;
  }

  .redes-sociais,
  .contato {
    height: 7em;
  }
}

@media (max-width: 475px) {
  nav {
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #d9d9d9;
  }

  #logo-nav {
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1em;
    z-index: 1000;
  }

  /* Estilos do modal */
  .modal-content {
    margin: 4em 0 0 8em;
    width: 14em;
    height: 12em;
  }

  .content-sem-perfil {
    width: 14em;
    height: 13em;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 2em;
  }

  .section-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em ;
    width: 20em;
    height: auto;
  }

  .campo-pesquisa {
    width: 20em;
    margin-left: 2em;
  }

  .campo-lugares {
    margin: 0;
    height: 150em;
  }

  .campo-locais {
    flex-wrap: wrap;
    width: 6em;
    height: auto;
    margin: 0;
    gap: 2em;
  }

  .logo-footer {
    display: none;
  }

  .descricao-footer {
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
    gap: 0;
  }

  .footer-container .descricao-footer ul {
    height: auto;
  }

  .copyright {
    bottom: 1em;
  }
}
