@import url(../css/tipografia.css);
@import url(../css/cores.css);

.section-inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 5em 3em auto 5.5em;
}

.campo-lugares {
  height: auto;
  width: 80em;
}

.campo-locais {
  height: auto;
  width: 80em;
  margin: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
  position: relative;
  left: 75px;
}

.grupo-locais {
  background-color: transparent;
  width: 19em;
  height: auto;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.text-locais {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.img-lugar {
  margin: 0;
  border-radius: 8px;
  height: 247px;
  width: 256px;
}

.estrelas {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.titulo-locais {
  font-family: "Poppins-regular";
  color: #1e1e1e;
  margin-top: 15px;
}

/* Começo menu lateral */
.menu-flutuante {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  top: 7em;
  left: 1.5em;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  width: 15em;
  height: 20em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.titulo-menu {
  font-family: "Poppins-semibold";
  color: #1e1e1e;
  margin: 1em auto;
}

#pesquisa-menu {
  font-family: "Poppins-regular";
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  height: 2.5em;
  width: 16em;
  margin: 0;
  padding: 15px;
}

#search-menu {
  margin: 5px;
  position: relative;
  bottom: 0;
  right: 3em;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.search-btn {
  background: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.palavras-chaves-container {
  font-family: "Poppins-regular";
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.palavra-chave {
  background-color: #cfe6ff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.palavra-chave .remove-btn {
  content: url(../img/close.svg);
  background: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1em;
}

.filtro {
  margin-bottom: 20px;
  width: 100%;
}

.filtro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.titulo-filtro {
  font-family: "Poppins-regular";
}

.filtro-header box-icon {
  font-size: 1.2em;
}

.filtro-opcoes {
  list-style: none;
  margin-top: 10px;
  display: none;
}

.filtro-opcoes li {
  font-family: "Poppins-regular";
  margin: 10px 0;
  cursor: pointer;
}

/* Oculta o checkbox padrão */
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

/* Estilo para o container do checkbox */
input[type="checkbox"]+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

/* Cria o quadrado do checkbox */
input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
}

/* Estilo do checkbox quando marcado */
input[type="checkbox"]:checked+label::before {
  background-color: #0098ff;
  border-color: #0098ff;
}

/* Estilo do ícone de check quando marcado */
input[type="checkbox"]:checked+label::after {
  content: url(../img/check.svg);
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

/* Final menu lateral */

/* começo areas */
.campo-pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 35em 0 0;
  position: relative;
  left: 35px;
}

#campo-pesquisa {
  font-family: "Poppins-regular";
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  height: 2.5em;
  width: 30em;
  padding: 15px;
  position: relative;
  bottom: 3em;
}

#search {
  margin: 5px;
  position: relative;
  right: 2.5em;
  bottom: 2.5em;
  cursor: pointer;
}

/* final areas */

/* Estilos do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: var(--azul);
  margin: 4.5em 0 0 auto;
  margin-right: 15px;
  width: 14em;
  height: 12em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.content-sem-perfil {
  background-color: var(--branco);
  padding: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 14em;
  height: 13em;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2em;
}

.perfil {
  font-family: "Poppins-bold";
  color: var(--branco);
  text-align: center;
  margin: 0.5em 0;
}

#foto-perfil {
  width: 45%;
  z-index: 1;
}

.linha {
  width: 12em;
  margin: 10px 1px;
  color: rgba(0, 0, 0, 0.35);
}

.user {
  cursor: pointer;
}

.titulo-perfil {
  font-family: "Poppins-bold";
  color: #fff;
}

.usuario {
  font-family: "Poppins-bold";
  font-size: 16px;
  color: #606060;
  text-align: center;
  margin: 2.5em 0 0 0;
}

.links {
  margin: 1em;
}

.texto-perfil,
.texto-sair {
  font-family: "Poppins-medium";
  font-size: 14px;
  text-decoration: none;
}

.texto-perfil {
  color: var(--preto);
}

.texto-sair {
  color: #e10531;
}