@import url(../css/cores.css);
@import url(../css/tipografia.css);

.campo-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6em 10em 0 10em;
  height: auto;
}

.titulo-cadastro {
  font-family: "Poppins-bold";
  font-size: 2.5em;
}

.subtitulo-cadastro {
  font-family: "Poppins-regular";
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* começo progresso */
#progresso {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 0;
  counter-reset: step;
}

#progresso li {
  font-family: "Poppins-bold";
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
}

#progresso li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background-color: #d9d9d9;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  border-radius: 8px;
}

#progresso li:after {
  display: flex;
  align-self: center;
  justify-content: center;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #d9d9d9;
  position: absolute;
  left: -100%;
  top: 9px;
  z-index: -1;
}

#progresso li:first-child:after {
  content: none;
}

#progresso li.active:before {
  background-color: var(--azul);
  color: white;
  border-radius: 8px;
}

#progresso li.active:after {
  background-color: #d9d9d9;
  color: white;
  border-radius: 8px;
}

/* final progresso */

.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 32em;
  height: 25em;
  margin: 10px 0 0 0;
}

#form-dados-crianca {
  height: 25em;
}

.subtitulo-form {
  font-family: "Poppins-bold";
  font-size: 1.4em;
  margin: 25px 0 15px 0;
}

.subtitulo-form2 {
  font-family: "Poppins-bold";
  font-size: 1.4em;
  margin: 5px 0 25px 0;
}

.campo-nome,
#nome-cadastro-crianca {
  display: flex;
  flex-direction: column;
  margin: 0px;
  outline: none;

}

.campo-email {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.campo-senha {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.campo-data,
#data-cadastro-crianca {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  color: #333;
}

#titulo-form {
  font-family: "Poppins-regular";
  font-size: 1.2em;
  margin-bottom: 5px;
  
}

.grupo {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 1em 0;
}

.form-erros {
  font-family: "Poppins-regular";
  font-size: 1em;
  margin-bottom: 5px;
  color: red;
}

#erro-nome-obrigatorio {
  display: none;
}

#erro-email-obrigatorio {
  display: none;
}

#erro-email-invalido {
  display: none;
}

#erro-senha-obrigatoria {
  display: none;
}

#erro-data-obrigatoria {
  display: none;
}

#nome-cadastro,
#email-cadastro,
#senha-cadastro,
#data {
  font-family: "Poppins-regular";
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 16em;
  height: 2.5em;
}

#nome-cadastro-crianca,
#data-cadastro-crianca {
  font-family: "Poppins-regular";
  padding: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 25em;
  height: 2.5em;
  margin: 1em 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 15px 15px;
}

#btn-continuar,
#btn-submit-crianca {
  font-family: "Poppins-semibold";
  font-size: 1.2em;
  color: #f5f5f5;
  background-color: var(--azul);
  border: none;
  border-radius: 8px;
  width: 20em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  cursor: pointer;
}

#btn-continuar:disabled {
  opacity: 50%;
}

#btn-continuar:active {
  opacity: 100%;
}

#btn-voltar {
  display: flex;
  align-items: start;
  justify-content: start;
  border: none;
  background: none;
  width: 30em;
  margin-top: 2em;
  cursor: pointer;
}

.bx {
  font-size: 2em;
}

#rhinny-form {
  width: 20em;
  position: relative;
  bottom: 20em;
  left: 37em;
}
