*{
  margin: 0; padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.container-home{
 width: 100%;
 margin: 0;
 padding: 0;
 height: 100vh;
}


/*NAVBAR*/
 header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px ;
   background-color: #1C2454;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.header::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%; 
 background-color: #1c245485;
 z-index: -1;
}

.header::after{
 content: '';
 position: absolute;
 top: 0;
 left: -100%;
 width: 100%;
 height: 100%;
 background: linear-gradient(90deg, transparent, #020a3af3, transparent);
 transition: .8s;
}

header:hover::after{
 left: 100%;
}

.logo {
   height: 4rem;
}
header nav a {
 font-size: 1.15rem;
 font-weight: 500;
 margin-left: 2.5rem;
 color: #fff;
 text-decoration: none;
 padding-right: 3rem;
}

#check{
 display: none;
}

.icon{
 font-size: 2.8rem;
 color: white;
 cursor: pointer;
 display: none;
 position: absolute;
 right: 0;
 padding-right: 5rem;
}

@media (max-width: 992px) {
 .header{
   padding: 1.3rem 5%;
 }
}

@media (max-width: 768px) {
 .icon{
   display: inline-flex;
 }

 #check:checked~.icon #menu-icon{
 display: none;
 }

 nav{
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 0;
   background-color: #1c2454f6;
   overflow: hidden;
   box-shadow: 0 .5rem 1rem #1C2454;
   transition: .3s ease;
 }

 #check:checked~nav{
   height: 17.7rem;
 }

 nav a{
   display: block;
   font-size: 1.1rem;
   margin: 1.5rem 0;
   text-align: center;
   transform: translateY(-50px);
   transition: .3s ease;
   opacity: 0;
 }

 #check:checked~nav a{
   height: 2rem;
   opacity: 1;
   transform: translateY(0);
   transition-delay: calc(.15s * var(--i));
 }

 #check:checked~.icon #close-icon{
   display: block;
   }

 .icon #close-icon {
   display: none;
 }
}

/* CARROUSEL */

.carousel {
 width: 100%;
 margin:4em auto;
 height:630px;/*ajustar altura do carrossel e a sombra*/
 position: relative;
 box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
 
}

.carousel-inner {
 position: relative;
 overflow: hidden;
 width: 100%;
 height:630px;/*ajustar altura da caixa*/
}

.carousel-open:checked + .carousel-item {
 position: static;
 opacity: 100;
}

.carousel-item {
 position: absolute;
 opacity: 0;
 -webkit-transition: opacity 0.7s ease-out;
 transition: opacity 0.7s ease-out;
}

.carousel-item img {
 display: block;
 height: 630px;/*ajustar altura da imagem interna*/
 max-width: 100%;
 width: 100%;
}

.carousel-control {
 background: rgba(255, 255, 255, 0.328);
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
 display: none;
 font-size: 40px;
 height: 40px;
 line-height: 35px;
 position: absolute;
 top: 50%;
 -webkit-transform: translate(0, -50%);
 cursor: pointer;
 -ms-transform: translate(0, -50%);
 transform: translate(0, -50%);
 text-align: center;
 width: 40px;
 z-index: 10;


}

.carousel-control.prev {
 left: 2%;
user-select: none;
}

.carousel-control.next {
 right: 2%;
user-select: none;
}

.carousel-control:hover {
 background: #1C2454;
 color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
 display: block;
}

.carousel-indicators {
 list-style: none;
 margin: 0;
 padding: 0;
 position: absolute;
 bottom: 2%;
 left: 0;
 right: 0;
 text-align: center;
 z-index: 10;
}

.carousel-indicators li {
 display: inline-block;
 margin: 0 5px;
}

.carousel-bullet {
 color: #77bd4ea9;
 cursor: pointer;
 display: block;
 font-size: 35px;
padding:0 10px;
}

.carousel-bullet:hover {
 color: gray;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
 color: #FF640D;
}


/* FIM CARROUSEL */


body{
   background-color: rgb(243, 243, 243);
   margin: 0;
   padding: 0;
   width: 100%;
}

h1{
   text-align: center;
}


ul {
   list-style: none;
}

/*BOTOES*/

.botoes{
   width: 100%;
   height: 200px;
   margin-top: 100px;
}
 
 li::after {
   content: "";
   display: block;
   height: 2px;
   transition: height 0.3s ease-in-out;
   pointer-events: none;
 }
 
 li:hover::after {
   height: 10px;
 }

 .resp1{
   display: flex;
 }

 .resp2{
   display: flex;
 }
 
 .example-2 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 .example-2 .icon-content {
   margin: 2rem;
   position: relative;
 }
 .example-2 .icon-content .tooltip {
   position: absolute;
   bottom: -30px;
   left: 50%;
   transform: translateX(-50%);
   color: #fff;
   padding: 6px 10px;
   border-radius: 5px;
   opacity: 0;
   pointer-events: none;
   visibility: hidden;
   font-size: 14px;
   transition: all 0.3s ease;
 }
 .example-2 .icon-content:hover .tooltip {
   opacity: 1;
   visibility: visible;
   bottom: -40px;
 }
 .example-2 .icon-content a {
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   color: #4d4d4d;
   background-color: #fff;
   transition: all 0.3s ease-in-out;
 }
 .example-2 .icon-content a:hover {
   box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
 }

 .icones{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 100%;
 }

 .example-2 .icon-content a:hover {
   color: white;
 }
 .example-2 .icon-content a .filled {
   position: absolute;
   top: auto;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   transition: all 0.3s ease-in-out;
 }
 .example-2 .icon-content a:hover .filled {
   height: 100%;
 }
 .example-2 .icon-content a[data-social="Nossas Turmas"] .filled,
 .example-2 .icon-content a[data-social="Nossas Turmas"] ~ .tooltip {
   background-color: #0096D5;
 }
 .example-2 .icon-content a[data-social="Calendário"] .filled,
 .example-2 .icon-content a[data-social="Calendário"] ~ .tooltip {
   background-color: #AD3574;
 }
 .example-2 .icon-content a[data-social="Eventos Realizados"] .filled,
 .example-2 .icon-content a[data-social="Eventos Realizados"] ~ .tooltip {
   background-color: #FF640D;
 }
 .example-2 .icon-content a[data-social="Cardápio"] .filled,
 .example-2 .icon-content a[data-social="Cardápio"] ~ .tooltip {
   background-color: #1C2454;
 }
 .example-2 .icon-content a[data-social="Parceria"] .filled,
 .example-2 .icon-content a[data-social="Parceria"] ~ .tooltip {
   background-color: #73BA42;
 }

 @media (max-width:605px) {
   .example-2{
     display: flex;
     flex-direction: column;
   }

   .example-2 .resp1{
     display: flex;
     flex-direction: row;
   }

   .example-2 .resp2{
     display: flex;
     flex-direction: row;
   }
 }

 @media(max-width:340px){
   .example-2 .icon-content a{
     height: 50px;
     width: 50px;
   }

 
 }
 


/*ATIVIDADES EXTRAS*/

.fundo{
 margin-top: -5px;
}

.container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1C2454;
   
 }
 
 .h1-atvextras{
   text-align: center;
   color: white;
   background-color: #1C2454;
   margin-top: -5px;
 }

 .icones-atvextras{
   height: 80px;
 }

 .container .glass {
   position: relative;
   width:  160px;
   height: 200px;
   background: linear-gradient(rgba(17, 32, 99, 0.425), transparent);
   border: 1px solid rgba(16, 9, 58, 0.1);
   box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   border-radius: 10px;
   margin: 0 -25px;
   backdrop-filter: blur(10px);
   transform: rotate(calc(var(--r) * 1deg));
 }

 @media (max-width: 462px){
   .container .glass{
     width:  95px;
     height: 140px;
     display: flex;
     flex-direction: column;
   }
 }

 @media (max-width: 722px){
   .container .glass{
     width:  120px;
     height: 180px;
   }
 }
 
 .container:hover .glass {
   transform: rotate(0deg);
   margin: 0 10px;
 }
 
 .container .glass::before {
   content: attr(data-text);
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 40px;
   background: rgba(255, 255, 255, 0.05);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
 }
 .container .glass svg {
   font-size: 2.5em;
   fill: #fff;
 }
 


/*CONHEÇA NOSSO ESPAÇO*/
.container2 {
   overflow: auto;
   display: flex;
   scroll-snap-type: x mandatory;
   width: 90%;
   margin: 0 auto;
   padding: 0 15px;
 }

 .espaco-h1{
   color: #1C2454;
 }

 .local1{
   background: #73BA42;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }

 .local2{
   background: #FF640D;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }

 .local3{
   background: #AD3574;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }

 .local4{
   background: #0096D5;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }

 .local5{
   background: #73BA42;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }

 .local6{
   background: #FF640D;
   backdrop-filter: blur(7px);
   border-radius: 10px;
   padding: 7px;
   margin: 1rem;
   width: 100%;
   height: 150px;
 }
 
 .title {
   width: 100%;
   display: inline-block;
   word-break: break-all;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   margin: 1rem auto;
 }



/*RODAPÉ*/


 /*LOGO RODAPÉ*/
 .logo-foot{
   height: 10rem;
 }

/*ONDAS*/
footer .wave{
 position: absolute;
 top: -95px;
 left: 0;
 width: 100%;
 height: 100px;
 background-image: url(../img/wave1.png);
 background-size: 1300px 100px ;
}

footer .wave#wave1{
 z-index: 1000;
 opacity: 1;
 bottom: 0;
 animation: animateWaves 11s linear infinite;
}

footer .wave#wave2{
 z-index: 999;
 opacity: 0.5;
 bottom: 10px;
 animation: animateWaves_02 11s linear infinite;
}

footer .wave#wave3{
 z-index: 1000;
 opacity: 0.2;
 bottom: 15px;
 animation: animateWaves 10s linear infinite;
}

footer .wave#wave4{
 z-index: 999;
 opacity: 0.7;
 bottom: 20px;
 animation: animateWaves_02 10s linear infinite;
}

@keyframes animateWaves
{
 0%
 {
   background-position-x: 1000px;
 }
 100%
 {
   background-position-x: 0px;
 }
}

@keyframes animateWaves_02
{
 0%
 {
   background-position-x: 0px;
 }
 100%
 {
   background-position-x: 1000px;
 }
}

.foot{
 display: flex;
 justify-content: flex-st ;
 min-width: 100vh;
 margin-top: 10rem;
}

 footer{
   position: relative;
   width: 100%;
   height: auto;
   background-color: #1C2454;
   min-height: 100px;
   padding: 20px 50px;
   display: inline-flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   padding-bottom: 20px;
 }



 .footer-link {
   text-decoration: none;
}

.footer-link1 {
 text-decoration: none;
}


#footer_content {
   background-color: var(--color-neutral-10);
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 3rem 3.5rem;
}

#footer_contacts h1 {
   margin-bottom: 0.75rem;
}

.footer-list {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
  margin-left: 1rem;
   list-style: none;
   color: white;
}

#footer-list a{
 color: rgba(255, 255, 255, 0.795);
}

#footer-list #text p{
 color: rgba(255, 255, 255, 0.795);
}

.footer-list .footer-link {
   color: var(--color-neutral-30);
   transition: all 0.4s;
}

#footer-list .footer-link:hover {
   color: #0096D5;
}

.redes{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.redes li{
 display: flex;
 flex-direction: row;
 margin-left: 0.5rem;
}

#footer_subscribe {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   color: white;
}

#footer_subscribe p {
   color: var(--color-neutral-30);
   color: rgba(255, 255, 255, 0.795);
} 




#footer_copyright {
   display: flex;
   justify-content: center;
   background-color: var(--color-neutral-0);
   font-size: 0.9rem;
   padding: 1.5rem;
   font-weight: 100;
}

@media screen and (max-width: 768px) {
   #footer_content {
       grid-template-columns: repeat(2, 1fr);
       gap: 2rem;
       align-items: start;
       
   }
}

@media screen and (max-width: 426px) {
   #footer_content {
       grid-template-columns: repeat(1, 1fr);
       padding: 3rem 2rem;
       align-items: start;
   }
} 



/* FIM RODAPÉ */


/* MAPA */

.mapa {
 position: relative; /* Cria um contexto de empilhamento para os elementos filhos */
 width: 100%; /* Ajuste conforme necessário */
 height: 450px; /* Ajuste conforme necessário */
 align-items: center;
 text-align: center;
 max-width: 100%;
}

.mapa-h1{
 color: #1C2454;
 margin-top: 10rem;
}

.mapa iframe {
 width: 50rem;
 height: 100%;
 border: 0;
 position: relative; /* Permite que o iframe esteja no mesmo contexto de empilhamento que o SVG */
 z-index: 1; /* Garante que o iframe esteja acima do SVG */
 border: #1C2454;
 box-shadow: 2px 2px 3px 3px #1C2454;
}

.mapa svg.ondas-visita {
 position: absolute; /* Permite que o SVG seja posicionado em relação ao contêiner .mapa */
 bottom: 0; /* Posiciona o SVG no fundo do contêiner .mapa */
 left: 0;
 width: 100%; /* Ajusta o tamanho do SVG conforme necessário */
 z-index: 0; /* Garante que o SVG fique atrás do iframe */
 
}

.h1-visita{
 text-align: center;
}

.visitas{
 align-items: center;
 text-align: center;
 background-color: #1C2454;
 margin-top: -5px;
}

#visita {
 background-color: #77BD4E; 
 border: none; 
 color: white; 
 padding: 15px 32px; 
 text-align: center; 
 text-decoration: none; 
 display: inline-block; 
 font-size: 16px; 
 margin: 4px 2px; 
 cursor: pointer; 
 border-radius: 8px; 
 transition: background-color 0.3s; 
 align-items:center ;
 margin-top: 80px;
}

#visita:hover {
 background-color: #000000; 
}
 
 

 /* Estilos responsivos */
@media (max-width: 1200px) {
 .mapa {
   padding-left: 20%;
 }

 .visitas {
   padding-left: 500px;
 }
}

@media (max-width: 992px) {
 .mapa {
   padding-left: 10%;
 }

 .visitas {
   padding-left: 300px;
 }
}

@media (max-width: 768px) {
 .mapa {
   padding-left: 0;
   display: flex;
   justify-content: center;
 }

 .visitas {
   padding-left: 0;
   display: flex;
   justify-content: center;
 }

 iframe {
   width: 100%;
   height: auto;
 }
}

@media (max-width: 576px) {
 iframe {
   width: 100%;
   height: auto;
 }

 #visita {
   width: 100%;
   padding: 12px;
 }
}


.ondas-visita{
 margin-top: -300px;
} 
