@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  line-height: 1.5;
  background-color: #f5f6fa;
  /* min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;   */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.footer-col p a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}
.footer-col p a:hover {
  color: #f3d9ca;
  padding-left: 8px;
}

.logoFooter {
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  /* display: flex; */
}
.footer {
  margin-top: 5%;
  background-color: #00323b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #f3d9ca;
  padding-left: 8px;
}

.footer-col .imgFooter {
  display: flex;
  flex-direction: row;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 820px) {
  .logoFooter{
    width: 140px;
  }
}
@media (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .logoFooter{
    width: 160px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
