
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/





        .container-topo-vitor {
            display: flex;
            align-items: center;
        }
        .container-topo-vitor img {
            max-width: 100%;
            height: auto;
        }
        .container-topo-vitor div {
            flex: 1;
        }
        .container-topo-vitor div:nth-child(2) {
            text-align: right;
        }


        .div-2
 {
    display: flex;
    align-items: start;
    flex-direction: column ;
    
width: 60%;



 }

 .div-2 p{
    text-align: start;
 }

 .div-1{
    text-align: center;


    width: 60%;
    

 }


.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/


.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    background-color: #FE4045;
}

.btn.btn-primary:hover {
    background-color: #002241;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--bs-primary);
    background-color: #000000;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--bs-secondary) !important;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}


/*** Topbar Start ***/
.fixed-top .container {
    transition: 0.5s;
}

.topbar {
    padding: 2px 10px 2px 20px;
    background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
    transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
    background-color: #000000;
}


@media (max-width: 576px) {
    .topbar {
        display: none;    
    }
}
/*** Topbar End ***/


/*** Navbar ***/

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
  
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
  color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #FE4045 !important;
    
}

.navbar-light .navbar-brand img {
    max-height: 100px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 50px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background-color: #FE4045;
    color: #000000;
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
       background-color: #FE4045;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}
/*** Carousel Hero Header Start ***/
.header-carousel {
    position: relative; 
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #FE4045;
    color: #002241;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #000000;
    color: #002241;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
    color: #FE4045 !important;
}

@media (max-width: 576px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        top: 630px;
        transition: 0.5s;
    }

    .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
        width: 95% !important;
    }
 
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
    transition: 0.5s;

}

@media (max-width: 992px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        margin-top: 0;
        transition: 0.5s;
    }

}

@media (min-width: 992px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin-top: 50px;
    }
}

.header-carousel .header-carousel-item .carousel-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
    position: relative;
    width: 75%;
    
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/


/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;
    
}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background-color: #002241;
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--bs-white) !important;
    z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
    color: var(--bs-secondary);
}

/*** Service End ***/

/*** About Start ***/
.about .about-img {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.about .about-img .about-img-inner {
    position: absolute;
    left: 0; 
    bottom: 0; 
    border: 10px solid; 
    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
    border-radius: 50%;

}

.about .about-img .about-experience {
    position: absolute;
    top: 125px; 
    left: -125px; 
    transform: rotate(-90deg);
    background: transparent;
    color: var(--bs-primary);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
}

/*** About End ***/


/*** Appointment Start ***/
.appointment {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.appointment .appointment-form {
    background: rgba(239, 162, 134, 0.3);
}

.appointment .appointment-form .btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.appointment .appointment-form .btn.btn-primary:hover {
    box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}


@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/*** Appointment End ***/


/*** Team Start ***/
.team .team-item .team-img {
position: relative;
    overflow: hidden;
}

.team .team-item .team-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.team .team-item .team-img:hover .team-icon {
    margin-bottom: 145px;
}

.team .team-item:hover .team-img::before {
    background: rgba(112, 109, 109, 0.3);
}

.team .team-item .team-content {
  color: #002234;
    transition: 0.5s;
}

.team .team-item .team-content h5 {
    color: var(--bs-secondary);
    transition: 0.5s;
}

.team .team-item:hover .team-content h5 {
    color: #fafdff;
}

.team .team-item:hover .team-content {
    background: #002234;
    color: var(--bs-white);
}
/*** Team End ***/


/*** testimonial Start ***/
.testimonial {
    background: linear-gradient(rgba(51, 50, 68, 0.9), rgba(102, 70, 70, 0.9));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial .testimonial-item .testimonial-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

.testimonial .testimonial-item .testimonial-inner .testimonial-inner-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--bs-white);
}

.testimonial .testimonial-carousel.owl-carousel {
    position: relative;
}

.testimonial .testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #002234;
    color: #ffffff;
    transition: 0.5s;
}

.testimonial .testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #002234;
    color: #ffffff;
    transition: 0.5s;
}


.testimonial .testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial .testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0  #FE4045 !important;
    color: #ffffff!important;
}


@media (max-width: 900px) {
    .testimonial .testimonial-carousel .owl-nav .owl-prev {
        margin-top: -190px;
        margin-left: 40px;
    }

    .testimonial .testimonial-carousel .owl-nav .owl-next {
        margin-top: -190px;
        margin-right: 40px;
    }
    
}

.testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--bs-white);
    background: transparent;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 20px;
    height: 20px;
   background: #002234!important;
}

.testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
}

.testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
    transition: 0.5s;
}

@media (min-width: 900px) {
    .testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
        font-size: 20px;
    }
}


/* Testimonial Section Title Start */
.testimonial .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.testimonial .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.testimonial .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #002234;
}

.testimonial .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}
/*** Testimonial End ***/

/* Testimonial Section Title Start */
.contact .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.contact .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}


/* footer section*/
.footer_section {
    background-color: #002234;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
  }
  
  .footer_section p {
    color: #dbdbdb;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #FE4045;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
  }
  
  .footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
  }
  
  .footer_section .footer_social a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }

/*** copyright Start ***/
.copyright {
    background: var(--bs-dark) !important;
}
/*** copyright end ***/