@import url(../css/font.css);
@import url(../css/cores.css);

.titulo {
  font-family: "Poppins-extrabold";
  font-size: 30px;
  margin: 2em 0 2em 0;
  text-align: center;
}

.lista-termos {
  margin: 0 2em;
}

.titulo-termos {
  font-family: "Poppins-semibold";
  color: var(--preto);
  list-style: none;
  font-size: 1em;
}

.texto-termos {
  font-family: "Poppins-regular";
  color: var(--preto);
  list-style: none;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.data {
  font-family: "Poppins-regular";
  color: var(--preto);
  list-style: none;
  font-size: 0.9em;
  margin: 3em 0 2em 0;
}

#span-preto {
  font-family: "Poppins-semibold";
  color: var(--preto);
}

/* Estilos do modal do perfil */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: var(--azul);
  margin: 4.5em 0 0 75em;
  width: 14em;
  height: 12em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.content-sem-perfil {
  background-color: var(--branco);
  padding: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 14em;
  height: 13em;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2em;
}

.perfil {
  font-family: "Poppins-bold";
  color: var(--branco);
  text-align: center;
  margin: 0.5em 0;
}

#foto-perfil {
  width: 45%;
  z-index: 1;
}

.linha {
  width: 12em;
  margin: 10px 1px;
}

.user {
  cursor: pointer;
}

.titulo-perfil {
  font-family: "Poppins-bold";
  color: #fff;
}

.usuario {
  font-family: "Poppins-bold";
  font-size: 16px;
  color: #606060;
  text-align: center;
  margin: 2.5em 0 0 0;
}

.links {
  margin: 1em;
}

.texto-perfil,
.texto-sair {
  font-family: "Poppins-medium";
  font-size: 14px;
  text-decoration: none;
}

.texto-perfil {
  color: var(--preto);
}

.texto-sair {
  color: #e10531;
}

.termos {
  display: flex;
  flex-direction: column;
  height: auto;
}
