.container-comentarios-principal{
  height: 100%;
  max-height: 60vh;

  .comentarios{

    .item{
      height: 60vh;
      display: flex;
      flex-direction: column;
      color: #ffffff;
      margin-top: 6vh;

      div{
        background-color: #002234;
        text-align: start;
        padding: 4vh 2vw;
        border-radius: 8px;
        height: 52%;

        h1{
          font-size: 1.4rem;
          color: #ffffff;
          margin-bottom: 2vh;
        }
  
        p{
          color: #ffffff;
        }
      }

      .user{
        width: 110px;
        height: auto;
        margin-top: -8vh;
      }
    }
  }
}