.main-pagina-principal{
  header {
    background-color: #002234;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo {
      width: auto;
      height: 95%;
      margin-left: 5vw;
    }
  
    .buttons {
      margin-right: 10vw;
      width: auto;
      display: flex;
      gap: 1vw;
  
      button {
        background-color: #FE4045;
        border: none;
        padding: 8% 20%;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
  
        &:hover{
          filter: brightness(1.6);
        }
      }
    }
  }
  
  .section-1 {
    background-image: url(../../../img/Group928.svg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 101vw;
    height: 100vh;
    padding-top: 10vh;
  }
  
  .section-2{
    background-color: #fff;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    padding: 15vh 5vw 5vh 5vw;
  
    .cachorroAcenando{
      width: auto;
      margin-left: 10%;
      height: 100%;
    }
  
    div{
      width: 48%;
      padding: 5% 0;
      
      h2{
        color: #002234;
        font-size: 2.6rem;
        width: 80%;
      }
  
      p{
        margin: 2vh 0;
        width: 95%;
        color: #000;
      }
  
      button {
        background-color: #FE4045;
        border: none;
        padding: 1.5vh 4vw;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        font-size: 1.1rem;
        margin-top: 3vh;
        transition: 0.3s ease-in-out;

        &:hover{
          filter: brightness(1.6);
        }
      }
    }
  }
  
  .section-3{
    background-color: #fff;
    height: 50vh;
    padding: 10vh 10vw;
  
    .div-background{
      background-color: #002234;
      height: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
  
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 4vw;
  
        h2{
          color: #fff;
          font-size: 2.4rem;
          width: 85%;
        }
  
        p{
          color: #fff;
          margin: 2vh 0;
        }

        a{
          color: #fff;
          text-decoration: none;
        }
  
        button {
          background-color: #FE4045;
          border: none;
          padding: 1.7vh 3vw;
          color: #fff;
          border-radius: 25px;
          cursor: pointer;
          transition: 0.4s ease-in-out;
          font-size: 1.1rem;
          margin-top: 3vh;
          width: min-content;
          text-wrap: nowrap;
          display: flex;
          align-items: center;
          gap: 1vw;
          transition: 0.3s ease-in-out;

          &:hover{
            filter: brightness(1.6);
          }
  
          .instagram{
            width: auto;
            height: 3vh;
          }
        }
      }
    }
  
    .siganos{
      width: auto;
      height: auto;
      margin-right: 2vw;
    }
  }
  
  .section-4{
    background-color: #fff;
    height: 70vh;
    padding: 5vh 5vw 10vh 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  
    h2{
      font-size: 2.4rem;
    }
  }

  footer{
    background-color: #002234;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0;
    color: #fff;

    section{
      display: flex;
      justify-content: space-between;
      padding: 10vh 13vw 0 10vw;

      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3{
          font-size: 1.5rem;
          margin-bottom: 2vh;
        }

        p{
          margin-bottom: 1vh;

          a{
            text-decoration: none;
            color: #fff;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

      .div-1{
        p{
          display: flex;
          align-items: center;

          .icon{
            margin-right: 0.5vw;
            width: auto;
            height: 1.2rem;
          }
        }
      }

      .div-2{
        .logo{
          width: auto;
          height: 100px;
          margin-top: -4vh;
          margin-bottom: 2vh;
        }

        p{
          width: 55%;
          text-align: center;
        }
      }

      .div-3{
        p{
          text-wrap: nowrap;
        }
      }
    }

    .div-footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1vh;

      p{
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }

        &:hover:last-child{
          text-decoration: none;
          cursor: auto;
        }
      }
    }
  }
}