.ajuda-suporte {
  height: 90vh;

  .container {
    background-color: #E7E6ED;
    margin-top: 10vh;
    padding: 5vh 8vw 5vh 10vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .content-1{
      background-color: #ffffff;
      width: 76vw;
      height: 49vh;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 5vh 2vw 2vh 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        font-size: 1.6rem;
        margin-bottom: 3vh;
      }

      h2{
        font-size: 1.2rem;
        margin-bottom: 2vh;
      }

      select {
        border: 1.5px solid #dddcdc;
        border-radius: 10px;
        height: 45px;
        padding-left: 10px;
        outline: none;
        font-size: 1rem;
        background-color: #f0f0f0;
        width: max-content;
        margin-bottom: 3vh;
      }
      
      .assunto{
        width: 65%;
        padding: 2vh 1.5vw;

        p{
          text-align: center;
        }
      }

      .assunto-text{
        width: 65%;
        padding: 2vh 1.5vw;
        border: 1.5px solid #dddcdc;
        border-radius: 10px;
      }
    }

    .content-2{
      background-color: #ffffff;
      width: 80vw;
      height: 19vh;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1vh;

      h2{
        font-size: 1.3rem;
      }

      span{
        cursor: pointer;
        color: #ff2929;
        font-weight: 700;
        border-bottom: 1px solid #ff2929;
        opacity: 0.8;
        transition: 0.3s ease-in-out;

        &:hover{
          opacity: 1;
        }
      }
    }

    .content-3{
      background-color: #ffffff;
      width: 100%;
      height: 95%;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 3vh 2vw;

      .btn-back {
        width: 32px;
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }

      .inputForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        input, textarea {
          border: 1.5px solid #dddcdc;
          border-radius: 10px;
          height: 45px;
          padding-left: 10px;
          outline: none;
          font-size: 1rem;
          background-color: #f0f0f0;
          width: 50%;
        }

        textarea{
          padding: 2vh 1%;
          height: 25vh;
          resize: none;
          width: 48.7%;
        }
      }

      p{
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
        margin: 1vh;

        span{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .btn-enviar {
        background-color: #FE4045;
        border: none;
        padding: 1.5vh 3vw;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.4s ease-in-out;
        font-size: 1rem;
        right: 0;
        transition: 0.3s ease-in-out;

        &:hover {
          filter: brightness(1.6);
        }
      }
    }
  }
}