@media (min-width: 1920px) {
  #logo-nav {
    width: 114em;
  }

  .layout-lugar {
    width: 110em;
  }

  #praca-boulevard {
    bottom: 0;
  }

  .grupo-direita {
    margin-top: 2em;
  }

  .modal-content {
    margin: 4.5em 0 0 95em;
  }
}

@media (max-width: 1420px) {
  #logo-nav {
    width: 89em;
  }

  .layout-lugar {
    width: 85em;
  }

  .grupo-direita {
    margin-top: 2em;
  }

  .outros-comentarios {
    width: 80em;
  }

  .campo-outros-comentarios {
    margin-top: 2em;
  }

  .localizar {
    width: 80em;
  }

  .footer-container {
    width: 88.5em;
  }
}

/* Responsividade para telas menores que 1024px */
@media (max-width: 1024px) {
  .outros-comentarios {
    width: 85em;
  }

  .campo-outros-comentarios {
    margin-top: 1em;
  }

  .localizar {
    width: 80em;
  }

  .footer-container {
    width: 90em;
  }
}

/* Responsividade para telas menores que 975px */
@media (max-width: 975px) {
  #logo-nav {
    width: 56em;
  }

  .modal-content {
    margin: 4.5em 0 0 40em;
  }

  .layout-lugar {
    width: 53em;
    gap: 5em;
  }

  #praca-boulevard {
    left: 2em;
  }

  .grupo-direita {
    margin: 0;
  }

  .grupo-acessibilidade {
    gap: 2em;
  }

  .comentario {
    width: 30em;
  }

  .conteudo-comentario {
    min-width: 30em;
  }

  .outros-comentarios {
    width: 45em;
  }

  .localizar {
    width: 45em;
  }

  .footer-container {
    width: 56em;
  }
}

/* Responsividade para telas menores que 475px */
@media (max-width: 475px) {
  #logo-nav {
    width: 30em;
  }

  .modal-content {
    margin: 4.5em 0 0 13em;
  }

  #praca-boulevard {
    width: 50%;
    top: 3em;
    left: 7em;
  }

  .layout-lugar {
    flex-direction: column;
    width: 25em;
    height: 45em;
  }

  #select-acessibilidade {
    width: 8em;
  }

  .conteudo-comentario {
    min-width: 30em;
  }

  .botao {
    margin-right: 4em;
  }

  .outros-comentarios {
    width: 25em;
    text-align: center;
    margin: 10em 2em 2em 2em;
  }

  .campo-outros-comentarios {
    flex-wrap: wrap;
    gap: 2em;
  }

  .localizar {
    width: 25em;
    text-align: center;
    margin: 4em 2em 2em 2em;
  }

  .localizar img {
    width: 75%;
  }

  .footer-container {
    width: 29.5em;
  }

  .logo-footer {
    display: none;
  }

  .descricao-footer {
    width: 10em;
    margin-left: 3em;
    flex-direction: column;
    align-items: baseline;
  }

  .redes-sociais {
    height: 8em;
  }

  .copyright {
    bottom: 4em;
  }
}
