@font-face {
    font-family: "Nunito_bold";
    src: url(../../fonts/Nunito-Bold.ttf);
  }
  
  @font-face {
    font-family: "Nunito_medium";
    src: url(../../fonts/Nunito-Medium.ttf);
  }
  
  @font-face {
    font-family: "Nunito_regular";
    src: url(../../font/Nunito-Regular.ttf);
  } 

body {
    line-height: 1.5;
    font-family: "Nunito";
    background-image: url(../img/resumo2.svg);
     background-repeat: no-repeat; 
     background-size: cover; 
     overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    position: relative;
    min-width: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 90px);

}

.containerBody {
    border-radius: 55px 55px 0 0;
    background-color: #F5F6FA;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: -26px;
    margin-left: -6px;
    margin-bottom: -16px;
}

.bannerVerde h1,
.bannerVerde p,
.bannerVerde h3 {
    margin-left: 140px;
    color: #fff;
}

.bannerVerde h1 {
    color: #F3D9CA;
    
}

.bannerVerde p {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Nunito_regular";
}

.bannerVerde h3 {
    font-size: 22px;
    font-weight: 400;
}

.bannerVerde {
    padding-top: 40px;
    height: 233px;
}


.container-section2 {
    display: flex;
    margin-right: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cardProfissional {
    width: 100%;
    max-width: 508px;
    display: flex;
    overflow: hidden;
    background: #fff;
    border-radius: 16px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.cardproffisionais:hover {
    transform: scale(1.15);
  }
.img-card {
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card img {
    width: 100%;
    display: block;
    margin-left:15%;
}

.iconCard{
    margin-right: 6px;
}

.content {
    width: 60%;
    padding: 30px;
    box-sizing: border-box;
}

.cardProfissional .content .title h3 {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.cardProfissional .content .title span,
.cardProfissional .content .text p {
    color: #393939;
}

.cardProfissional .content .text p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-container {
    display: block;
    text-align: center;
    padding: 5px 50px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #34A087;
    border-radius: 8px;
    background-color: #34A087;
    color: white;
    cursor: pointer;
}

.card-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    border-radius: 16px;
    padding: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

.card-content {
    padding: 20px;
}

.card-container h2 {
    font-size: 22px;
    margin: 15px 30px;
    font-family: "Nunito_regular";
}

.card-container p {
    line-height: 1.5;
    margin: 0 30px 20px 30px;
    font-family: "Nunito_regular";
}

.container {
    max-width: 1170px;
    margin: auto;
}

.padrao {
    text-align: center;
    padding: 10px 80px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #34A087;
    border-radius: 20px;
    background-color: #34A087;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

h2 {
     margin: 20px 140px; 
    color: #005351;
    font-size: 34px;
    font-family: "Nunito_regular";
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.banner {
    display: flex;
    justify-content: center;
}

.centralDePagamento {
    display: block;
    max-width: 85%;
    margin: 30px auto;
}

.container-section1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    flex-wrap: wrap;
}
.banner2 {
    max-width: 600px; 
    overflow: hidden;
    border-radius: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.proffisionais {
    width: 150px;
    height: 160px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardproffisionais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proffisionais img {
    max-width: 100%;
    max-height: 70%;
    margin-bottom: 10px;
}

.cardproffisionais p {
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}


img {
    /* max-width: 100%; */
    height: auto;
}

.img-card img,
.proffisionais img,
.centralDePagamento,
.banner2,
.imgFooter img {
    max-width: 100%; 
    height: auto; 
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .bannerVerde h1,
    .bannerVerde p,
    .bannerVerde h3 {
        margin-left: 40px;
    }
    
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .bannerVerde h1,
    .bannerVerde p,
    .bannerVerde h3 {
        margin-left: 20px;
    }
    
    .bannerVerde p {
        font-size: 18px;
    }
    
    .card-container {
        grid-template-columns: 1fr;
    }
    
    .container-section1,
    .container-section2,
    .container-cards {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .bannerVerde h1 {
        font-size: 24px;
    }
    
    .bannerVerde p {
        font-size: 16px;
    }
    
    .cardProfissional .content .title h3 {
        font-size: 18px;
    }
    
    .containerBody {
        padding: 20px 10px; 
        max-width: 100%;
    }
    
    .card-container h2 {
        font-size: 20px;
        margin: 10px 20px;
    }
    .cardProfissional{
    width: 380px;
    }

    .card-container p {
        margin: 0 20px 10px 20px;
    }
    
    .container-section1,
    .container-section2,
    .container-cards {
        padding: 0 10px;
    }

    .proffisionais{
        width: 110px;
        height: 150px;
    }

    .grid{
        gap: 10px;
    }

    .btn-container{
        padding: 5px 35px;
    }

    h2{
        font-size: 30px;
        margin: 20px 0px;
    }
    .card img{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .card img{
    width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr; 
    }
}